<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.model.dao.ReplyMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.entity.Reply" >
    <id column="REPLY_ID" property="replyId" jdbcType="DECIMAL" />
    <result column="SUGGEST_ID" property="suggestId" jdbcType="DECIMAL" />
    <result column="REPLY_CONTENT" property="replyContent" jdbcType="VARCHAR" />
    <result column="REPLY_DATE" property="replyDate" jdbcType="TIMESTAMP" />
    <result column="ADMIN_ID" property="adminId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    REPLY_ID, SUGGEST_ID, REPLY_CONTENT, REPLY_DATE, ADMIN_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from JYK.T_REPLY
    where REPLY_ID = #{replyId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from JYK.T_REPLY
    where REPLY_ID = #{replyId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.oracle.entity.Reply" >
    insert into JYK.T_REPLY (REPLY_ID, SUGGEST_ID, REPLY_CONTENT, 
      REPLY_DATE, ADMIN_ID)
    values (#{replyId,jdbcType=DECIMAL}, #{suggestId,jdbcType=DECIMAL}, #{replyContent,jdbcType=VARCHAR}, 
      #{replyDate,jdbcType=TIMESTAMP}, #{adminId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.entity.Reply" >
    insert into JYK.T_REPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyId != null" >
        REPLY_ID,
      </if>
      <if test="suggestId != null" >
        SUGGEST_ID,
      </if>
      <if test="replyContent != null" >
        REPLY_CONTENT,
      </if>
      <if test="replyDate != null" >
        REPLY_DATE,
      </if>
      <if test="adminId != null" >
        ADMIN_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyId != null" >
        #{replyId,jdbcType=DECIMAL},
      </if>
      <if test="suggestId != null" >
        #{suggestId,jdbcType=DECIMAL},
      </if>
      <if test="replyContent != null" >
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyDate != null" >
        #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.entity.Reply" >
    update JYK.T_REPLY
    <set >
      <if test="suggestId != null" >
        SUGGEST_ID = #{suggestId,jdbcType=DECIMAL},
      </if>
      <if test="replyContent != null" >
        REPLY_CONTENT = #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="replyDate != null" >
        REPLY_DATE = #{replyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        ADMIN_ID = #{adminId,jdbcType=DECIMAL},
      </if>
    </set>
    where REPLY_ID = #{replyId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.entity.Reply" >
    update JYK.T_REPLY
    set SUGGEST_ID = #{suggestId,jdbcType=DECIMAL},
      REPLY_CONTENT = #{replyContent,jdbcType=VARCHAR},
      REPLY_DATE = #{replyDate,jdbcType=TIMESTAMP},
      ADMIN_ID = #{adminId,jdbcType=DECIMAL}
    where REPLY_ID = #{replyId,jdbcType=DECIMAL}
  </update>
</mapper>